@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
  @foreach (var rank in this.Board.Cells(this.FlipBoard))
  {
    <div class="row">
      @foreach (var cell in rank)
      {
        <CellComponent
          Cell="@cell"
          ShouldHighlight="@this.HighlightedCells.Contains(cell)"
          FlipBoard="@this.FlipBoard" />
      }
    </div>
  }
</div>