.cell-wrapper {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  width: 54px;
  height: 54px;
}

.cell {
  position: relative;
  top: 0;
  left: 0;
  width: 54px;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
}