@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Xi.Models.Game

<span class="cell-wrapper" @onclick="@this.CellClicked">
  <img class="cell" src="@this.ImageUrl" alt="" />

  @if (this.ShouldHighlight)
  {
    <img class="highlight" src="/images/pieces/highlight.svg" alt="" />
  }

  <PieceComponent Piece="@this.Cell.Piece" IsLastMovedPiece="@this.IsLastMoveToCell" />
</span>
