table {
  border-collapse: collapse;
  min-width: 160px;
  display: block;
  max-height: 720px;
  overflow-y: scroll;
}

th {
  text-align: left;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

i.fas {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

#tip {
  float: right;
}