td.selected {
  background: #dedede;
}

td {
  min-width: 90px;
  padding-left: 5px;
}

.remove-move {
  padding-right: 5px;
  color: #7f0032;
  cursor: pointer;
}

.confirm-move {
  padding-right: 5px;
  color: #1f5700;
  cursor: pointer;
}

.move-actions {
  vertical-align: middle;
  float: right;
}

.move {
  cursor: pointer;
}