@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
  var colorMove = Index % 2 == 1 ? Xi.Models.Game.Color.Black : Xi.Models.Game.Color.Red;
}

<td class="@(this.Index == this.GameModel.CurrentMoveIndex ? "selected" : "")">
  @if (this.Index < this.GameModel.Game.Moves.Count)
  {
    var move = this.GameModel.Game.Moves[this.Index];

    <text>@move.DisplayFor(colorMove)&nbsp;</text>

    <div class="move-actions">
      @if (this.GameModel.CanBeConfirmed(this.Index, this.Current.LoggedInPlayerId()))
      {
        <i
          class="fas fa-check confirm-move"
          @onclick="@ConfirmMove"
          data-toggle="tooltip"
          data-placement="top"
          title="Confirm this move."></i>
      }

      @if (!move.CreatedAt.HasValue)
      {
        <i
          class="fas fa-times remove-move"
          @onclick="@RemoveMove"
          data-toggle="tooltip"
          data-placement="top"
          title="Remove this move and all moves after it."></i>
      }
    </div>
  }
</td>