@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="wrapper">
  <MudText Typo="Typo.overline" Style="font-size: large">
    @this.Player.Name @this.PotentialPoints()
  </MudText>

  @if (this.ShowClock)
  {
    <span class="clock">
      <ClockComponent ClockRunsOutAt="@this.GameModel.Game.ClockRunsOutAt!.Value"/>
    </span>
  }
</div>