<AuthorizeView>
  <Authorized>
    <a href="logout">Log out @this.Current.LoggedInPlayer().Name</a>
  </Authorized>
  <NotAuthorized>
    <a href="login?redirectUri=/@this.ReturnUrl">Log in</a>
  </NotAuthorized>
</AuthorizeView>