<AuthorizeView>
  <Authorized>
    <a href="logout">Log out @Current.LoggedInPlayer().Name</a>
  </Authorized>
  <NotAuthorized>
    <a href="login?redirectUri=/">Log in</a>
  </NotAuthorized>
</AuthorizeView>