@page "/account"
@attribute [Authorize]

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.AccountState.Value.IsLoading)
{
  <h1>Loading...</h1>
}
else if (this.AccountState.Value.Player != null)
{
  var player = this.AccountState.Value.Player!;

  <h1>@player.Name</h1>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>Show possible moves?</td>
        <td>
          <ToggleComponent
            ToolTip="When checked, all possible moves will be highlighted when you select a piece in a game."
            Value="@player.ShowPossibleMoves"
            OnToggled="@this.OnShowPossibleMovesToggled"/>
        </td>
      </tr>
      <tr>
        <td>ELO rating</td>
        <td>@player.EloRating</td>
      </tr>
    </tbody>
  </table>
}