@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/games"

@using Xi.BlazorApp.Stores.States
@using Xi.BlazorApp.Services

@inject IState<GamesState> GamesState
@inject StateFacade Facade

@if (this.GamesState.Value.IsLoading)
{
  <span>Loading...</span>
}
else if (GamesState.Value.HasCurrentErrors)
{
    <span>Computer says no... :(</span>
}
else if (GamesState.Value.Games?.Any() == true)
{
  <span>Found @GamesState.Value.Games.Count games!</span>
}
else
{
  <span>Unknnown state, count: '@GamesState.Value.Games?.Count'</span>
}

@code {
  protected override void OnInitialized()
  {
    if (GamesState.Value.Games?.Any() != true)
    {
      this.Facade.LoadGames();
    }

    base.OnInitialized();
  }
}
