@page "/games/{gameId:int}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GameState.Value.IsLoading)
{
  <p>Loading...</p>
}
else if (this.GameState.Value.HasCurrentErrors)
{
  <p>Computer says no... :(</p>
  <p>@GameState.Value.CurrentErrorMessage</p>
}
else if(GameState.Value.GameViewModel != null)
{
  <h1>Game @GameState.Value.GameViewModel.Game!.Id</h1>

  <PlayerComponent Player="@GameState.Value.GameViewModel.Game!.BlackPlayer"/>

  <p>TODO</p>

  <PlayerComponent Player="@GameState.Value.GameViewModel.Game!.RedPlayer"/>
}