@page "/games"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GamesState.Value.IsLoading)
{
  <p>Loading...</p>
}
else if (this.GamesState.Value.HasErrors)
{
  <p>Computer says no... :(</p>
  <p>@this.GamesState.Value.ErrorMessage</p>
}
else if (this.GamesState.Value.GameViewModels != null)
{
  <h2>Games</h2>

  <p>
    <NavLink href="/games/new">Neww game</NavLink>
  </p>

  <table>
    <tr>
      <th></th>
      <th>Red</th>
      <th>Black</th>
    </tr>
    @foreach (var gameViewModel in GamesState.Value.GameViewModels)
    {
      <tr>
        <td><a href="/games/@gameViewModel.Game.Id">@gameViewModel.Game.Id</a></td>
        <td>@gameViewModel.Game.RedPlayer.Name</td>
        <td>@gameViewModel.Game.BlackPlayer.Name</td>
      </tr>
    }
  </table>
}
