@page "/games"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GamesState.Value.IsLoading)
{
  <span>Loading...</span>
}
else if (GamesState.Value.HasCurrentErrors)
{
    <span>Computer says no... :(</span>
}
else if (GamesState.Value.Games != null)
{
  <span>Found @GamesState.Value.Games.Count games!</span>
}
