@page "/games"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (this.GamesState.Value.IsLoading)
{
  <p>Loading...</p>
}
else if (this.GamesState.Value.HasCurrentErrors)
{
  <p>Computer says no... :(</p>
  <p>@this.GamesState.Value.CurrentErrorMessage</p>
}
else if (this.GamesState.Value.Games != null)
{
  <h2>Games</h2>

  <table>
    <tr>
      <th></th>
      <th>Red</th>
      <th>Black</th>
    </tr>
    @foreach (var game in GamesState.Value.Games)
    {
      <tr>
        <td><a href="/games/@game.Id">@game.Id</a></td>
        <td>@game.RedPlayer.Name</td>
        <td>@game.BlackPlayer.Name</td>
      </tr>
    }
  </table>
}
